<br>
<br>
<div class="page-header">
<center><h1>Estudiantes</h1></center>
</div>
<br />
<br /> 
<center>
<%= form_tag request.path, :method => 'get' do %>
<%= content_tag :label do %>
Nombre Estudiante
<br>
<%= text_field_tag :search, params[:search] %>
<br>
<%= submit_tag "Consultar", :name => nil, :class => 'btn btn-mini '  %>
<% end %>
<% end %>
<%= form_tag request.path, :method => 'get' do %>
<%= content_tag :label do %>
Numero de Registros<br>
<%= text_field_tag :registros, params[:registros] %>
<% end %>
<% end %>
<br />
<br />
<br /> 
</center>
<table class="table table-striped table-bordered table-condensed pretty">
  
<tr>
  <th><%= sortable "id" %></th>
  <th><%= sortable "nombre" %></th>
  <th><%= sortable "cedula" %></th>
  <th><%= sortable "email" %></th>
  <th><%= sortable "direccion" %></th>
  <th><%= sortable "fecha_nacimiento" %></th>
</tr>


  </thead>
  <tbody>
     <%= render @estudiantes %>
  </tbody>
  <tfoot>
    
  </tfoot>
</table>
<center>
  <tr>
    <center>
      <td><%= link_to 'Nuevo Estudiante',   new_curso_estudiante_path, :remote => true %></td>
    </center>
    </tr>
    <br>
    <br>
<%= link_to 'Atras', cursos_path, :class => 'btn btn-small' %>
 </center>
<br />
<br />
<div align="center">
<%= will_paginate @estudiantes, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' rescue nil %>
</div>
<p>
  <center>
Total Aprendices :<input type="text"  id="totalregs" class="span1" value="<%= @estudiantes.total_entries %>" readonly />
</center>
</p>